<script src="https://unpkg.com/scrollreveal"></script>
<main>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="../../../assets/image/elevate/cata-vento.png" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="700" height="500" loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">OBJETIVO</h1>
        <p class="lead">
          Lecionar aulas e cursos extracurriculares, por meio de oficinas de
          aprendizagem, com o propósito de complementação e de ampliação das
          estruturas curriculares, contribuindo para o desenvolvimento mais
          amplo dos alunos, permitindo a vivência com outros aspectos da
          educação, além dos conteúdos formais, norteados pela valorização e
          fortalecimento de princípios cristãos e familiares.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Quero Fazer Parte
          </button>
        </div>
      </div>
    </div>
  </div>

<!--  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img-->
<!--          ngSrc="../../../assets/image/banner/banner-home.jpg"-->
<!--          class="d-block w-100"-->
<!--          alt="..."-->
<!--          height="600"-->
<!--          width="1057"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img-->
<!--          ngSrc="../../../assets/image/banner/banner-about.jpg"-->
<!--          class="d-block w-100"-->
<!--          alt="..."-->
<!--          height="600"-->
<!--          width="1057"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img-->
<!--          ngSrc="../../../assets/image/banner/elevate.png"-->
<!--          class="d-block w-100"-->
<!--          alt="..."-->
<!--          height="600"-->
<!--          width="1057"-->
<!--        />-->
<!--        <div class="container"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button-->
<!--      class="carousel-control-prev"-->
<!--      type="button"-->
<!--      data-bs-target="#myCarousel"-->
<!--      data-bs-slide="prev"-->
<!--    >-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button-->
<!--      class="carousel-control-next"-->
<!--      type="button"-->
<!--      data-bs-target="#myCarousel"-->
<!--      data-bs-slide="next"-->
<!--    >-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--  </div>-->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <hr class="featurette-divider" />
    <div class="row featurette" style="margin-top: 30px; margin-bottom: 30px">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Aqui Trabalhamos Duro Para:
        </h2>
        <ul class="goals">
          <li>
            <p class="lead">
              Para que as crianças estejam ocupando o seu tempo ocioso em
              ambiente acolhedor e favorável para a otimização de suas
              competências humanas e habilidades sociais
            </p>
          </li>
          <li>
            <p class="lead">
              Promover o desenvolvimento físico, cultural, intelectual e
              artístico de crianças
            </p>
          </li>
          <li>
            <p class="lead">
              Ensinar de forma prática a importâncias dos esportes e atividades
              físicas, como forma de melhorar a qualidade de vida e interação
              social
            </p>
          </li>
          <li>
            <p class="lead">
              Desenvolver na criança atitudes e habilidades que proporcionem o
              desenvolvimento de suas capacidades e potencialidades
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <img ngSrc="../../../assets/image/elevate/aviao-de-papel.png" alt="" height="512" width="512"/>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <div class="methodology">
          <h2 class="featurette-heading fw-normal lh-1">METODOLOGIA</h2>
          <p class="lead">
            utilizamos as metodologias ativas de aprendizagem, que consistem em
            uma técnica pedagógica baseada em atividades instrucionais, capazes
            de engajar os estudantes para que de fato, se tornarem protagonistas
            no processo de construção do próprio conhecimento. As metodologias
            aplicadas aplicam menos ênfase na transmissão de informações e mais
            atenção no desenvolvimento de habilidades, de forma que, este método
            ajuda a desenvolver senso de responsabilidade, maior aprendizagem do
            conteúdo, e contribui no incremento da criatividade, senso de
            empatia, senso crítico, habilidades colaborativas de trabalho em
            equipe, aumento de autonomia na resolução de conflitos, protagonismo
            diante dos desafios.
          </p>
        </div>
      </div>

      <div class="col-md-5 order-md-1 hand">
        <img ngSrc="../../../assets/image/elevate/impressao-de-mao.png" alt="" height="512" width="512"/>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette" style="margin-top: 30px">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Quem Pode Participar</h2>
        <p class="lead" style="line-height: 2.5">
          Nosso publico alvo são crianças de 5 a 12 anos no município de Fazenda
          Rio Grande/PR
        </p>
        <h2 class="featurette-heading fw-normal lh-1" style="margin-top: 30px">
          Oficinas
        </h2>
        <ul class="goals">
          <li>
            <p class="lead">Dança</p>
          </li>
          <li>
            <p class="lead">Lutas</p>
          </li>
          <li>
            <p class="lead">Futebol</p>
          </li>
          <li>
            <p class="lead">Música</p>
          </li>
          <li>
            <p class="lead">Inglês</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <img ngSrc="../../../assets/image/elevate/quebra-cabeca.png" alt="" height="512" width="512"/>
      </div>
    </div>
  </div>
</main>
