<div class="container">
  <hr />
  <div class="row featurette" style="margin-top: 5em">
    <div class="col-md-7">
      <h2>NOSSA VISÃO</h2>
      <p class="lead step-text">
        A Associação <span>ZARAH</span> nasceu com o propósito de criar,
        executar e gerir projetos sociais em diferentes esferas, permitindo que
        pessoas em <span>SITUAÇÃO DE VUNERABILIDADE</span> social tenham acesso
        a programas, atividades e recursos que potencializem suas capacidades,
        ajudando-as a superar limitações sociais que reduzem a sua liberdade e
        impedem seu pleno <span> DESENVOLVIMENTO HUMANO.</span>
      </p>
    </div>
    <div class="col-md-4 step-img">
      <img
        src="../../../assets/image/feche-trigo.png"
        alt="soja"
        class="img-fluid"
      />
    </div>
  </div>
  <hr />

  <div class="row featurette" style="margin-top: 5em">
    <div class="col-md-7 order-md-2" style="margin-top: 4em">
      <h2>NOSSA MISSÃO</h2>
      <div>
         <p class="lead step-text">
        Por meio de ações efetivas, dirigidas por
        <span class="text-plant">VALORES ÉTICOS CRISTÃOS</span>, realizar a
        <span class="text-plant"> PROMOÇÃO DA DIGNIDADE HUMANA</span>, da equidade e do melhor desenvolvimento,
        <span class="text-plant">FAMILIAR, SOCIAL, CIVIL, ESPIRITUAL E ECONÔMICO</span>
        das pessoas em todas as faixas etárias.
      </p>
      </div>

    </div>
    <div class="col-md-4 order-md-1 step-img">
      <img
        src="../../../assets/image/plantinha.png"
        alt="logo zarah"
        class="img-fluid"
      />
    </div>
  </div>
</div>
