p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
 color: #58A565;
  font-weight: 500;}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}
.step-text {
  margin-top: 2em;
  line-height: 2.5;
}
.text-plant{
  color: #f28963;
}
