<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 col-12 d-flex align-items-center mb-3 mb-md-0">
      <a href="/home" class="text-body-secondary text-decoration-none lh-1">
        <img ngSrc="../../../assets/image/logos/icone.png" height="100" width="177" alt=""/>
      </a>
    </div>
    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0 text-body-secondary">© 2024 Associação Zarah</div>
    <ul class="nav col-md-4 col-12 justify-content-center justify-content-md-end list-unstyled d-flex">
      <li class="ms-3 ms-md-5">
        <a class="text-body-secondary" href="#">
          <img ngSrc="../../../assets/image/social-media/whatsapp.png" height="40" width="30" alt=""/>
        </a>
      </li>
      <li class="ms-3 ms-md-5">
        <a class="text-body-secondary" href="https://www.instagram.com/zarahfrg/" target="_blank">
          <img ngSrc="../../../assets/image/social-media/instagram.png" height="40" width="30" alt=""/>
        </a>
      </li>
    </ul>
  </footer>
</div>
