<footer class="pad-70">
  <img src="../../../assets/image/logos/logo-roda-pe.png" height="100" />
  <span>
    <p>
              Copyright 2024 © - Associação zarah™

    </p>
  </span>
  <div class="socials">
    <a href="https://www.instagram.com/zarahfrg/" target="_blank">
      <img
        src="../../../assets/image/social-media/instagram.png"
        height="50"
      />
    </a>
    <a>
      <img
        src="../../../assets/image/social-media/whatsapp.png"
        height="50"
      />
    </a>
  </div>
</footer>
