<div class="home col-md-12">
  <div class="container text-center step-title">
    <div class="row">
      <div class="col">
        <h1>Acreditamos que uma semente tem o potêncial de mudar o mundo</h1>
        <div class="step-text">
          <p>
            A Zarah nasceu com o propósito de executar e gerir projetos sociais
            em diferentes esferas, <br />
            impactando pessoas em vulnerabilidade social.
          </p>
        </div>
      </div>
      <div class="circle">
        <img
          ngSrc="../../../assets/image/banner/trigo.png"
          alt="soja"
          height="150"
          width="150"
        />
      </div>
    </div>
  </div>
  <hr />
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          ngSrc="../../../assets/image/banner/semente-soja.jpeg"
          class="d-block w-100"
          alt="..."
          height="600"
          width="857"
        />
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          ngSrc="../../../assets/image/banner/banner-ponto-de-onibus.png"
          class="d-block w-100"
          alt="..."
          height="600"
          width="1057"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr />

  <div class="container">
  <div class="row featurette step-featurette">
    <div class="col-md-7" style="margin-top: 4em">
      <div class="step-paragraph">
        <h2>Nosso Propósito</h2>
        <p class="lead step-lead">
          Estamos fundamentados no <span>AMAR</span> ao próximo o
          <span>RECONHECIMENTO</span> da participação social como direito de
          todos, a <span>SOLIDARIEDADE</span>, a cooperação e o
          <span>RESPEITO</span> à diversidade, observados os valores éticos
          <span>CRISTÃO</span>, para a promoção da cidadania, da
          <span>INCLUSÃO SOCIAL</span> e produtiva, do
          <span>DESENVOLVIMENTO</span> local, regional e nacional inclusivo e
          <span>SUSTENTÁVEL</span> , a promoção e a defesa dos direitos
          fundamentais.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/image/semente-de-linho.png"
        alt="soja"
        class="img-fluid"
      />
    </div>
  </div>
</div>

</div>
